<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lius.sssenhance.mybatis.dao.UserDao">
    <resultMap type="com.lius.sssenhance.mybatis.domain.User" id="BaseResultMap">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="passwd"   property="passwd"/>
        <result column="login_Ip"  property="loginIp"/>
    </resultMap>

    <sql id="Base_Column_List" >
        id, userName, passwd, login_ip
    </sql>

    <select id="getUserById" resultType="User">
        SELECT
              id,
              username,
              passwd,
              login_Ip
        FROM user
        WHERE ID = #{id}
    </select>

    <update id="updateUser">
        UPDATE user
        SET username = #{user.username},
            passwd = #{user.passwd},
            login_Ip = #{user.loginIp}
        WHERE ID = #{user.id}
    </update>

    <insert id="insertUser">
        INSERT INTO
            user(id, username, passwd, login_Ip)
            VALUES (
                #{user.id},
                #{user.username},
                #{user.passwd},
                #{user.loginIp}
            )
    </insert>


    <delete id="deleteUserById">
        DELETE user WHERE ID = #{id}
    </delete>


</mapper>